header {
  height: 50px;
  background-color: lightblue;
  display: flex;
  align-items: center;
  text-align: center;
}

.horizontalNav {
  list-style-type: none;
  background-color: lightgray;
  display: flex;
  justify-content: space-around;

}

.inline-block {
  display: inline-block;
}
